*{
	box-sizing: border-box;
	border: 1px solid white;
	font-family: 'K2D', sans-serif;
}

body {
	margin: auto;
}

/* =======================
		LINKS
======================= */

a:link {
	text-decoration: none;
	color: gold;
}

a:visited{
	color: black;
}

a:hover{
	color: purple;
}

a:active {
	color: black;
}


/* =======================
		HEADER
======================= */
.header {
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 25px;
	padding: 0;
	margin: 5%;
}

nav {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
}

ul li {
	padding-bottom: 15px;
	font-size: 15px;
	font-weight: 800;
}


.profile {
	height: 80%;
	width: 100%;
	padding-right: 25px;
	padding-left: 25px;
}

.intro {
	text-align: center;
}

p {
	text-align: center;
}

/* =======================
		MAIN
======================= */
h2 {
	text-align: center;
	font-size: 15px;
	padding-bottom: 15px;
}

.resize {
	height: 80%;
	width: 100%;
	padding-right: 5px;
	padding-left: 5px;
}

.bold {
	font-weight: 900;
	text-align: center;
	font-size: 20px;
}

.info {
	text-align: center;
	padding-top: 5px;
}

/* =======================
		FOOTER
======================= */
.footer1 {
	float: left;
	font-weight: bold;
}

.footer2 {
	float: right;
	font-weight: bold;
	display: block;
}

.footnav {
	display: none;
}


/* =======================
		MEDIA QUERIES
======================= */
@media (min-width: 768px){
	header {
		min-height: 400px;
	}

	h1 {
		font-size: 2em;
		margin-bottom: 15px;
	}

	ul {
		list-style-type: none;
		margin-top: 0;

	}

	ul li {
		font-size: 1.25em;
		display: inline;
	}

.intro {
	margin-bottom: 150px;
}

.bio {
	margin-top: 40px;
	text-align: left;
	width: 365px;
}

p {
	display: block;
	margin-top: 15px;
	margin-left: 30px;
	margin-right: 30px;
	text-align: center;
}

h2 {
	font-size: 20px;
}

	.profile {
		height: 80%;
		width: 50%;
		padding-right: 25px;
		padding-left: 25px;
		margin-top: 50px;
		margin-bottom: 150px;
		float: right;
		display: inline;
	}

main {
	margin-left:auto;
	margin-right:auto;

}

	#intro {
		display: inline-block;
		float: right;
		height: 200px;
		margin-top: 40px;
		margin-bottom: 50px;
	}

.bold {
	margin-top: 5px;
	margin-bottom: 5px;
}

article {
	float: left;
	width: 50%;
	min-height: 400px;
}

.clearfix {
	clear: both;
}

.slim {
	margin-top: 30px;
	padding-right: 70px;
	padding-left: 70px;
}

hr {
	border: .5px solid lightgrey;
}

.footer1 {
	margin-top: 10px;
	margin-bottom: 80px;
	margin-left: 10px;
}

.footer2 {
	margin-top: 10px;
	margin-bottom: 80px;
	margin-right: 10px;
	display: none;
}

.info1 {
	padding-top: 30px;
}

.info2 {
	padding-bottom: 30px;
}

.footnav {
	display: block;
	float: right;
}

.backtotop {
	display: none;
}

@media (min-width: 1024px){
	h1 {
		float: left;
	}

	ul li {
		float: right;
		padding: 5px;
	}

	nav {
		margin-top: 50px;
		margin-right: 45px;
	}

	#intro {
		width: auto;
		height: auto;
		margin-right: 50px;
	}

	.bio {
		margin-top: 20px;
		margin-right: 20px;
		margin-left: 50px;
		float: left;
		width: 450px;
	}

	main {
		text-align: center;
	}

	#skills {
		margin-top: 60px;
	}

	.footer1 {
		margin-left: 50px;
	}

	.footnav {
		margin-right: 50px;
		word-spacing: 50px;
	}

	article {
		width: 33.33%;
	}
}
